<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/resources/style.css">
	</head>
	<body>
		<div class="container">
		
			<div class="table">
				<br>
				<h4>#01</h4>
				<a href='/golive/1'><button>Go Live</button></a>
			</div>
			<div class="table">
				<br>
				<h4>#02</h4>
				<a href='/golive/2'><button>Go Live</button></a>
			</div>
			<div class="table">
				<br>
				<h4>#03</h4>
				<a href='/golive/3'><button>Go Live</button></a>
			</div>
			<div class="table">
				<br>
				<h4>#04</h4>
				<a href='/golive/4'><button>Go Live</button></a>
			</div>
			<div class="table">
				<br>
				<h4>#05</h4>
				<a href='/golive/5'><button>Go Live</button></a>
			</div>
			
			
			
		</div>
		
		
	</body>
</html>

