<!DOCTYPE html>
<html>

<% switch(err) {
	case 403: %>
		Error: 403 Forbidden
		<% break;
	case 404: %>
		Error: 404 Not Found
		<% break;
	case 483: %>
		Error: 483 Bad Network - Please connect to the wifi @ <a href="https://playhoboken.com/">Play! Hoboken</a>
		<% break;
	default:%>
		Unhandled Error: <%=err %>
		<% break;
}
%>

</html>
