body {
	background-color: black;
	display:flex;
	align-content:center;
	flex-direction: column;
}

.table {
	background-image: url("/resources/table.png");
	background-size: contain;
	background-repeat: no-repeat;
	width:250px;
	height:250px;
}


.container {
	display: flex;
	background-color: #ff914d;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	text-align: center;
}