body {
	background-color: black;
	display:flex;
	align-content:center;
	flex-direction: column;
	flex-wrap:wrap;
}

.table_h {
	margin-top:50px;
	margin-bottom: 15px;
	margin-left:25px;
	margin-right:25px;
	background-image: url("/resources/table_h.png");
	background-size: contain;
	background-repeat: no-repeat;
	width:174px;
	height:126px;
}

.table_v {
	margin-top:25px;
	margin-bottom: 15px;
	margin-left:25px;
	margin-right:25px;
	background-image: url("/resources/table_v.png");
	background-size: contain;
	background-repeat: no-repeat;
	height:174px;
	width:126px;
}

.offline {
	filter: grayscale(100%);
}

.live_indicator {
	width:50px;
	height:50px;
	display: none;
	text-align: center;
	justify-content: center;
	background-image: url("/resources/blicky.webp");
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
}


.Live .live_indicator {
	display: flex;
}

.Live .live_indicator 

.table h4{
	margin-top: 35px;
}

#floor {
	background-color: #ff914d;
	margin-top:75px;
	display:flex;
	flex-direction: column;
	margin-bottom: 25px;
	height:750px;
	width:1250px
}

.container {
	width:100%;
	margin-top:25px;
	display: flex;
	flex-wrap:wrap;
	background-color: #ff914d;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	text-align: center;
}

#middle_row {
	justify-content: space-between;
}

#middle_row .table_v{
	margin-left:75px;
	margin-right:75px;
}


#Live {
	width:90%;
	margin-top:100px;
	display: flex;
	flex-wrap:wrap;
	background-color: #ff914d;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	text-align: center;
	min-height:150px;
}

#Live .container {
	margin-top: 5px;
}

.StreamInfo { 
	width: 100px;
	height: 100px;
	background-color: #E2DFD0;
	border:2px solid #524C42;
	margin-bottom:25px;
}

.offline {
	background-color:red
}

#info {
	color: white;
	text-align:center;
}
