body {
	background-color: black;
	display:flex;
	align-content:center;
	flex-direction: column;
	flex-wrap:wrap;
}

#floor {
	background-color: #ff914d;
	margin-top:75px;
	display:flex;
	flex-direction: column;
	margin-bottom: 25px;
	height:750px;
	aspect-ratio: 5 / 7;
}

.container {
	width:100%;
	margin-top:25px;
	display: flex;
	flex-wrap:wrap;
	background-color: #ff914d;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	text-align: center;
}

#loadingPane {
	position:absolute;
	z-index:1;
	display:none;
	height:100%;
	width:100%;
	background: rgba(105, 105, 105, 0.6)
}

#loadingPane .container {
	height: 75%;
	width: 50%;
	flex-direction: column;
	margin-left:auto;
	margin-right:auto;
	margin-top:75px;
}

#ControlPanel {
	display:flex;
	flex-direction:column;
	min-height:650px;
	height:75%;
	justify-content: space-evenly;
}

#url_field {
	width:90%;
	text-align:center;
}

#kill_stream_button {
	width:100px;
	margin-left:auto;
	margin-right:auto;
}
