body {
	background-color: black;
	display:flex;
	align-content:center;
	flex-direction: column;
	flex-wrap:wrap;
}

#floor {
	background-color: #ff914d;
	margin-top:75px;
	display:flex;
	flex-direction: column;
	margin-bottom: 25px;
	height:750px;
	aspect-ratio: 5 / 7;
}

.container {
	width:100%;
	margin-top:25px;
	display: flex;
	flex-wrap:wrap;
	background-color: #ff914d;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	text-align: center;
}

#loadingPane {
	position:absolute;
	z-index:2;
	display:none;
	height:100%;
	width:100%;
	background: rgba(105, 105, 105, 0.6)
}

#loadingPane .container {
	height: 75%;
	width: 50%;
	min-width: 400px;
	flex-direction: column;
	margin-left:auto;
	margin-right:auto;
	margin-top:75px;
}

#ControlPanel {
	display:flex;
	flex-direction:column;
	min-height:550px;
	margin-bottom:100px;
	height:75%;
	justify-content: space-around;
}

#url_field {
	width:90%;
	text-align:center;
}

button {
	width:100px;
	margin-left:auto;
	margin-right:auto;
}

#snapshotPreview {
	width:424px;
	height:240px;
}

#snapshotPreviewSpan {
	display:flex;
	flex-direction:column;
	text-align:right;
}

#loadingZone {
	position:relative;
	height:390px;
	width: 75%;
}

#loadingGIF {
	max-width: 700px;
	width: 95%;
	min-width: 390px;
	z-index:5;
	margin-left:auto;
	margin-right:auto;
	left:0px;
	position:absolute;
}

#loadingSnapshot {
	max-width: 700px;
	width: 95%;
	position:absolute;
	top:0px;
	left:0px;
}

#notificationBox {
	display:none;
	width: 45%;
	height: 65px;
	background-color: grey;
	z-index:1;
}

